/* @media (min-width: 360px) {
    .container,
    .container-ss {
        max-width: 540px;
    }

    .justify-content-center-cel{
        justify-content: left !important;
    }
}

@media (min-width: 360px) {
    .col-ss {
        flex: 1 0 0%;
    }

    .row-cols-ss-auto > * {
        flex: 0 0 auto;
        width: auto;
    }

    .row-cols-ss-1 > * {
        flex: 0 0 auto;
        width: 100%;
    }

    .row-cols-ss-2 > * {
        flex: 0 0 auto;
        width: 50%;
    }

    .row-cols-ss-3 > * {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .row-cols-ss-4 > * {
        flex: 0 0 auto;
        width: 25%;
    }

    .row-cols-ss-5 > * {
        flex: 0 0 auto;
        width: 20%;
    }

    .row-cols-ss-6 > * {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-ss-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .col-ss-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-ss-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-ss-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-ss-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-ss-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-ss-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-ss-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-ss-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-ss-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-ss-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-ss-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-ss-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .offset-ss-0 {
        margin-left: 0;
    }

    .offset-ss-1 {
        margin-left: 8.33333333%;
    }

    .offset-ss-2 {
        margin-left: 16.66666667%;
    }

    .offset-ss-3 {
        margin-left: 25%;
    }

    .offset-ss-4 {
        margin-left: 33.33333333%;
    }

    .offset-ss-5 {
        margin-left: 41.66666667%;
    }

    .offset-ss-6 {
        margin-left: 50%;
    }

    .offset-ss-7 {
        margin-left: 58.33333333%;
    }

    .offset-ss-8 {
        margin-left: 66.66666667%;
    }

    .offset-ss-9 {
        margin-left: 75%;
    }

    .offset-ss-10 {
        margin-left: 83.33333333%;
    }

    .offset-ss-11 {
        margin-left: 91.66666667%;
    }

    .g-ss-0,
    .gx-ss-0 {
        --bs-gutter-x: 0;
    }

    .g-ss-0,
    .gy-ss-0 {
        --bs-gutter-y: 0;
    }

    .g-ss-1,
    .gx-ss-1 {
        --bs-gutter-x: 0.25rem;
    }

    .g-ss-1,
    .gy-ss-1 {
        --bs-gutter-y: 0.25rem;
    }

    .g-ss-2,
    .gx-ss-2 {
        --bs-gutter-x: 0.5rem;
    }

    .g-ss-2,
    .gy-ss-2 {
        --bs-gutter-y: 0.5rem;
    }

    .g-ss-3,
    .gx-ss-3 {
        --bs-gutter-x: 1rem;
    }

    .g-ss-3,
    .gy-ss-3 {
        --bs-gutter-y: 1rem;
    }

    .g-ss-4,
    .gx-ss-4 {
        --bs-gutter-x: 1.5rem;
    }

    .g-ss-4,
    .gy-ss-4 {
        --bs-gutter-y: 1.5rem;
    }

    .g-ss-5,
    .gx-ss-5 {
        --bs-gutter-x: 3rem;
    }

    .g-ss-5,
    .gy-ss-5 {
        --bs-gutter-y: 3rem;
    }
}

@media (min-width: 360px) {
    .dropdown-menu-ss-start {
        --bs-position: start;
    }

    .dropdown-menu-ss-start[data-bs-popper] {
        right: auto;
        left: 0;
    }

    .dropdown-menu-ss-end {
        --bs-position: end;
    }

    .dropdown-menu-ss-end[data-bs-popper] {
        right: 0;
        left: auto;
    }
}

@media (min-width: 360px) {
    .navbar-expand-ss {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .navbar-expand-ss .navbar-nav {
        flex-direction: row;
    }

    .navbar-expand-ss .navbar-nav .dropdown-menu {
        position: absolute;
    }

    .navbar-expand-ss .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x);
    }

    .navbar-expand-ss .navbar-nav-scroll {
        overflow: visible;
    }

    .navbar-expand-ss .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-expand-ss .navbar-toggler {
        display: none;
    }

    .navbar-expand-ss .offcanvas {
        position: static;
        z-index: auto;
        flex-grow: 1;
        width: auto !important;
        height: auto !important;
        visibility: visible !important;
        background-color: transparent !important;
        border: 0 !important;
        transform: none !important;
        transition: none;
    }

    .navbar-expand-ss .offcanvas .offcanvas-header {
        display: none;
    }

    .navbar-expand-ss .offcanvas .offcanvas-body {
        display: flex;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
    }
}

@media (min-width: 360px) {
    .card-group {
        display: flex;
        flex-flow: row wrap;
    }

    .card-group > .card {
        flex: 1 0 0%;
        margin-bottom: 0;
    }

    .card-group > .card + .card {
        margin-left: 0;
        border-left: 0;
    }

    .card-group > .card:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .card-group > .card:not(:last-child) .card-header,
    .card-group > .card:not(:last-child) .card-img-top {
        border-top-right-radius: 0;
    }

    .card-group > .card:not(:last-child) .card-footer,
    .card-group > .card:not(:last-child) .card-img-bottom {
        border-bottom-right-radius: 0;
    }

    .card-group > .card:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .card-group > .card:not(:first-child) .card-header,
    .card-group > .card:not(:first-child) .card-img-top {
        border-top-left-radius: 0;
    }

    .card-group > .card:not(:first-child) .card-footer,
    .card-group > .card:not(:first-child) .card-img-bottom {
        border-bottom-left-radius: 0;
    }
}

@media (min-width: 360px) {
    .list-group-horizontal-ss {
        flex-direction: row;
    }

    .list-group-horizontal-ss > .list-group-item:first-child:not(:last-child) {
        border-bottom-left-radius: var(--bs-list-group-border-radius);
        border-top-right-radius: 0;
    }

    .list-group-horizontal-ss > .list-group-item:last-child:not(:first-child) {
        border-top-right-radius: var(--bs-list-group-border-radius);
        border-bottom-left-radius: 0;
    }

    .list-group-horizontal-ss > .list-group-item.active {
        margin-top: 0;
    }

    .list-group-horizontal-ss > .list-group-item + .list-group-item {
        border-top-width: var(--bs-list-group-border-width);
        border-left-width: 0;
    }

    .list-group-horizontal-ss > .list-group-item + .list-group-item.active {
        margin-left: calc(-1 * var(--bs-list-group-border-width));
        border-left-width: var(--bs-list-group-border-width);
    }
}

@media (min-width: 360px) {
    .modal {
        --bs-modal-margin: 1.75rem;
        --bs-modal-box-shadow: var(--bs-box-shadow);
    }

    .modal-dialog {
        max-width: var(--bs-modal-width);
        margin-right: auto;
        margin-left: auto;
    }

    .modal-ss {
        --bs-modal-width: 300px;
    }
}

@media (min-width: 360px) {
    .offcanvas-ss {
        --bs-offcanvas-height: auto;
        --bs-offcanvas-border-width: 0;
        background-color: transparent !important;
    }

    .offcanvas-ss .offcanvas-header {
        display: none;
    }

    .offcanvas-ss .offcanvas-body {
        display: flex;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
        background-color: transparent !important;
    }
}

@media (min-width: 360px) {
    .sticky-ss-top {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1020;
    }

    .sticky-ss-bottom {
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        z-index: 1020;
    }
}

@media (min-width: 360px) {
    .float-ss-start {
        float: left !important;
    }

    .float-ss-end {
        float: right !important;
    }

    .float-ss-none {
        float: none !important;
    }

    .object-fit-ss-contain {
        -o-object-fit: contain !important;
        object-fit: contain !important;
    }

    .object-fit-ss-cover {
        -o-object-fit: cover !important;
        object-fit: cover !important;
    }

    .object-fit-ss-fill {
        -o-object-fit: fill !important;
        object-fit: fill !important;
    }

    .object-fit-ss-scale {
        -o-object-fit: scale-down !important;
        object-fit: scale-down !important;
    }

    .object-fit-ss-none {
        -o-object-fit: none !important;
        object-fit: none !important;
    }

    .d-ss-inline {
        display: inline !important;
    }

    .d-ss-inline-block {
        display: inline-block !important;
    }

    .d-ss-block {
        display: block !important;
    }

    .d-ss-grid {
        display: grid !important;
    }

    .d-ss-inline-grid {
        display: inline-grid !important;
    }

    .d-ss-table {
        display: table !important;
    }

    .d-ss-table-row {
        display: table-row !important;
    }

    .d-ss-table-cell {
        display: table-cell !important;
    }

    .d-ss-flex {
        display: flex !important;
    }

    .d-ss-inline-flex {
        display: inline-flex !important;
    }

    .d-ss-none {
        display: none !important;
    }

    .d-ss-visible {
        display: inline !important;
    }

    .flex-ss-fill {
        flex: 1 1 auto !important;
    }

    .flex-ss-row {
        flex-direction: row !important;
    }

    .flex-ss-column {
        flex-direction: column !important;
    }

    .flex-ss-row-reverse {
        flex-direction: row-reverse !important;
    }

    .flex-ss-column-reverse {
        flex-direction: column-reverse !important;
    }

    .flex-ss-grow-0 {
        flex-grow: 0 !important;
    }

    .flex-ss-grow-1 {
        flex-grow: 1 !important;
    }

    .flex-ss-shrink-0 {
        flex-shrink: 0 !important;
    }

    .flex-ss-shrink-1 {
        flex-shrink: 1 !important;
    }

    .flex-ss-wrap {
        flex-wrap: wrap !important;
    }

    .flex-ss-nowrap {
        flex-wrap: nowrap !important;
    }

    .flex-ss-wrap-reverse {
        flex-wrap: wrap-reverse !important;
    }

    .justify-content-ss-start {
        justify-content: flex-start !important;
    }

    .justify-content-ss-end {
        justify-content: flex-end !important;
    }

    .justify-content-ss-center {
        justify-content: center !important;
    }

    .justify-content-ss-between {
        justify-content: space-between !important;
    }

    .justify-content-ss-around {
        justify-content: space-around !important;
    }

    .justify-content-ss-evenly {
        justify-content: space-evenly !important;
    }

    .align-items-ss-start {
        align-items: flex-start !important;
    }

    .align-items-ss-end {
        align-items: flex-end !important;
    }

    .align-items-ss-center {
        align-items: center !important;
    }

    .align-items-ss-baseline {
        align-items: baseline !important;
    }

    .align-items-ss-stretch {
        align-items: stretch !important;
    }

    .align-content-ss-start {
        align-content: flex-start !important;
    }

    .align-content-ss-end {
        align-content: flex-end !important;
    }

    .align-content-ss-center {
        align-content: center !important;
    }

    .align-content-ss-between {
        align-content: space-between !important;
    }

    .align-content-ss-around {
        align-content: space-around !important;
    }

    .align-content-ss-stretch {
        align-content: stretch !important;
    }

    .align-self-ss-auto {
        align-self: auto !important;
    }

    .align-self-ss-start {
        align-self: flex-start !important;
    }

    .align-self-ss-end {
        align-self: flex-end !important;
    }

    .align-self-ss-center {
        align-self: center !important;
    }

    .align-self-ss-baseline {
        align-self: baseline !important;
    }

    .align-self-ss-stretch {
        align-self: stretch !important;
    }

    .order-ss-first {
        order: -1 !important;
    }

    .order-ss-0 {
        order: 0 !important;
    }

    .order-ss-1 {
        order: 1 !important;
    }

    .order-ss-2 {
        order: 2 !important;
    }

    .order-ss-3 {
        order: 3 !important;
    }

    .order-ss-4 {
        order: 4 !important;
    }

    .order-ss-5 {
        order: 5 !important;
    }

    .order-ss-last {
        order: 6 !important;
    }

    .m-ss-0 {
        margin: 0 !important;
    }

    .m-ss-1 {
        margin: 0.25rem !important;
    }

    .m-ss-2 {
        margin: 0.5rem !important;
    }

    .m-ss-3 {
        margin: 1rem !important;
    }

    .m-ss-4 {
        margin: 1.5rem !important;
    }

    .m-ss-5 {
        margin: 3rem !important;
    }

    .m-ss-auto {
        margin: auto !important;
    }

    .mx-ss-0 {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .mx-ss-1 {
        margin-right: 0.25rem !important;
        margin-left: 0.25rem !important;
    }

    .mx-ss-2 {
        margin-right: 0.5rem !important;
        margin-left: 0.5rem !important;
    }

    .mx-ss-3 {
        margin-right: 1rem !important;
        margin-left: 1rem !important;
    }

    .mx-ss-4 {
        margin-right: 1.5rem !important;
        margin-left: 1.5rem !important;
    }

    .mx-ss-5 {
        margin-right: 3rem !important;
        margin-left: 3rem !important;
    }

    .mx-ss-auto {
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .my-ss-0 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .my-ss-1 {
        margin-top: 0.25rem !important;
        margin-bottom: 0.25rem !important;
    }

    .my-ss-2 {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }

    .my-ss-3 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }

    .my-ss-4 {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }

    .my-ss-5 {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }

    .my-ss-auto {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    .mt-ss-0 {
        margin-top: 0 !important;
    }

    .mt-ss-1 {
        margin-top: 0.25rem !important;
    }

    .mt-ss-2 {
        margin-top: 0.5rem !important;
    }

    .mt-ss-3 {
        margin-top: 1rem !important;
    }

    .mt-ss-4 {
        margin-top: 1.5rem !important;
    }

    .mt-ss-5 {
        margin-top: 3rem !important;
    }

    .mt-ss-auto {
        margin-top: auto !important;
    }

    .me-ss-0 {
        margin-right: 0 !important;
    }

    .me-ss-1 {
        margin-right: 0.25rem !important;
    }

    .me-ss-2 {
        margin-right: 0.5rem !important;
    }

    .me-ss-3 {
        margin-right: 1rem !important;
    }

    .me-ss-4 {
        margin-right: 1.5rem !important;
    }

    .me-ss-5 {
        margin-right: 3rem !important;
    }

    .me-ss-auto {
        margin-right: auto !important;
    }

    .mb-ss-0 {
        margin-bottom: 0 !important;
    }

    .mb-ss-1 {
        margin-bottom: 0.25rem !important;
    }

    .mb-ss-2 {
        margin-bottom: 0.5rem !important;
    }

    .mb-ss-3 {
        margin-bottom: 1rem !important;
    }

    .mb-ss-4 {
        margin-bottom: 1.5rem !important;
    }

    .mb-ss-5 {
        margin-bottom: 3rem !important;
    }

    .mb-ss-auto {
        margin-bottom: auto !important;
    }

    .ms-ss-0 {
        margin-left: 0 !important;
    }

    .ms-ss-1 {
        margin-left: 0.25rem !important;
    }

    .ms-ss-2 {
        margin-left: 0.5rem !important;
    }

    .ms-ss-3 {
        margin-left: 1rem !important;
    }

    .ms-ss-4 {
        margin-left: 1.5rem !important;
    }

    .ms-ss-5 {
        margin-left: 3rem !important;
    }

    .ms-ss-auto {
        margin-left: auto !important;
    }

    .p-ss-0 {
        padding: 0 !important;
    }

    .p-ss-1 {
        padding: 0.25rem !important;
    }

    .p-ss-2 {
        padding: 0.5rem !important;
    }

    .p-ss-3 {
        padding: 1rem !important;
    }

    .p-ss-4 {
        padding: 1.5rem !important;
    }

    .p-ss-5 {
        padding: 3rem !important;
    }

    .px-ss-0 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .px-ss-1 {
        padding-right: 0.25rem !important;
        padding-left: 0.25rem !important;
    }

    .px-ss-2 {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
    }

    .px-ss-3 {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }

    .px-ss-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    .px-ss-5 {
        padding-right: 3rem !important;
        padding-left: 3rem !important;
    }

    .py-ss-0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .py-ss-1 {
        padding-top: 0.25rem !important;
        padding-bottom: 0.25rem !important;
    }

    .py-ss-2 {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
    }

    .py-ss-3 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .py-ss-4 {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }

    .py-ss-5 {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }

    .pt-ss-0 {
        padding-top: 0 !important;
    }

    .pt-ss-1 {
        padding-top: 0.25rem !important;
    }

    .pt-ss-2 {
        padding-top: 0.5rem !important;
    }

    .pt-ss-3 {
        padding-top: 1rem !important;
    }

    .pt-ss-4 {
        padding-top: 1.5rem !important;
    }

    .pt-ss-5 {
        padding-top: 3rem !important;
    }

    .pe-ss-0 {
        padding-right: 0 !important;
    }

    .pe-ss-1 {
        padding-right: 0.25rem !important;
    }

    .pe-ss-2 {
        padding-right: 0.5rem !important;
    }

    .pe-ss-3 {
        padding-right: 1rem !important;
    }

    .pe-ss-4 {
        padding-right: 1.5rem !important;
    }

    .pe-ss-5 {
        padding-right: 3rem !important;
    }

    .pb-ss-0 {
        padding-bottom: 0 !important;
    }

    .pb-ss-1 {
        padding-bottom: 0.25rem !important;
    }

    .pb-ss-2 {
        padding-bottom: 0.5rem !important;
    }

    .pb-ss-3 {
        padding-bottom: 1rem !important;
    }

    .pb-ss-4 {
        padding-bottom: 1.5rem !important;
    }

    .pb-ss-5 {
        padding-bottom: 3rem !important;
    }

    .ps-ss-0 {
        padding-left: 0 !important;
    }

    .ps-ss-1 {
        padding-left: 0.25rem !important;
    }

    .ps-ss-2 {
        padding-left: 0.5rem !important;
    }

    .ps-ss-3 {
        padding-left: 1rem !important;
    }

    .ps-ss-4 {
        padding-left: 1.5rem !important;
    }

    .ps-ss-5 {
        padding-left: 3rem !important;
    }

    .gap-ss-0 {
        gap: 0 !important;
    }

    .gap-ss-1 {
        gap: 0.25rem !important;
    }

    .gap-ss-2 {
        gap: 0.5rem !important;
    }

    .gap-ss-3 {
        gap: 1rem !important;
    }

    .gap-ss-4 {
        gap: 1.5rem !important;
    }

    .gap-ss-5 {
        gap: 3rem !important;
    }

    .row-gap-ss-0 {
        row-gap: 0 !important;
    }

    .row-gap-ss-1 {
        row-gap: 0.25rem !important;
    }

    .row-gap-ss-2 {
        row-gap: 0.5rem !important;
    }

    .row-gap-ss-3 {
        row-gap: 1rem !important;
    }

    .row-gap-ss-4 {
        row-gap: 1.5rem !important;
    }

    .row-gap-ss-5 {
        row-gap: 3rem !important;
    }

    .column-gap-ss-0 {
        -moz-column-gap: 0 !important;
        column-gap: 0 !important;
    }

    .column-gap-ss-1 {
        -moz-column-gap: 0.25rem !important;
        column-gap: 0.25rem !important;
    }

    .column-gap-ss-2 {
        -moz-column-gap: 0.5rem !important;
        column-gap: 0.5rem !important;
    }

    .column-gap-ss-3 {
        -moz-column-gap: 1rem !important;
        column-gap: 1rem !important;
    }

    .column-gap-ss-4 {
        -moz-column-gap: 1.5rem !important;
        column-gap: 1.5rem !important;
    }

    .column-gap-ss-5 {
        -moz-column-gap: 3rem !important;
        column-gap: 3rem !important;
    }

    .text-ss-start {
        text-align: left !important;
    }

    .text-ss-end {
        text-align: right !important;
    }

    .text-ss-center {
        text-align: center !important;
    }
} */

.rem-20 {
    width: 20rem !important;
}
.justify-content-center-cel{
    justify-content: center !important;
}


@media (min-width: 320px) {
    .container,
    .container-ss {
        max-width: 540px;
    }

    .justify-content-center-cel{
        justify-content: left !important;
    }
}

@media (min-width: 320px) {
    .col-ss {
        flex: 1 0 0%;
    }

    .row-cols-ss-auto > * {
        flex: 0 0 auto;
        width: auto;
    }

    .row-cols-ss-1 > * {
        flex: 0 0 auto;
        width: 100%;
    }

    .row-cols-ss-2 > * {
        flex: 0 0 auto;
        width: 50%;
    }

    .row-cols-ss-3 > * {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .row-cols-ss-4 > * {
        flex: 0 0 auto;
        width: 25%;
    }

    .row-cols-ss-5 > * {
        flex: 0 0 auto;
        width: 20%;
    }

    .row-cols-ss-6 > * {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-ss-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .col-ss-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-ss-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-ss-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-ss-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-ss-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-ss-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-ss-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-ss-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-ss-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-ss-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-ss-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-ss-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .offset-ss-0 {
        margin-left: 0;
    }

    .offset-ss-1 {
        margin-left: 8.33333333%;
    }

    .offset-ss-2 {
        margin-left: 16.66666667%;
    }

    .offset-ss-3 {
        margin-left: 25%;
    }

    .offset-ss-4 {
        margin-left: 33.33333333%;
    }

    .offset-ss-5 {
        margin-left: 41.66666667%;
    }

    .offset-ss-6 {
        margin-left: 50%;
    }

    .offset-ss-7 {
        margin-left: 58.33333333%;
    }

    .offset-ss-8 {
        margin-left: 66.66666667%;
    }

    .offset-ss-9 {
        margin-left: 75%;
    }

    .offset-ss-10 {
        margin-left: 83.33333333%;
    }

    .offset-ss-11 {
        margin-left: 91.66666667%;
    }

    .g-ss-0,
    .gx-ss-0 {
        --bs-gutter-x: 0;
    }

    .g-ss-0,
    .gy-ss-0 {
        --bs-gutter-y: 0;
    }

    .g-ss-1,
    .gx-ss-1 {
        --bs-gutter-x: 0.25rem;
    }

    .g-ss-1,
    .gy-ss-1 {
        --bs-gutter-y: 0.25rem;
    }

    .g-ss-2,
    .gx-ss-2 {
        --bs-gutter-x: 0.5rem;
    }

    .g-ss-2,
    .gy-ss-2 {
        --bs-gutter-y: 0.5rem;
    }

    .g-ss-3,
    .gx-ss-3 {
        --bs-gutter-x: 1rem;
    }

    .g-ss-3,
    .gy-ss-3 {
        --bs-gutter-y: 1rem;
    }

    .g-ss-4,
    .gx-ss-4 {
        --bs-gutter-x: 1.5rem;
    }

    .g-ss-4,
    .gy-ss-4 {
        --bs-gutter-y: 1.5rem;
    }

    .g-ss-5,
    .gx-ss-5 {
        --bs-gutter-x: 3rem;
    }

    .g-ss-5,
    .gy-ss-5 {
        --bs-gutter-y: 3rem;
    }
}

@media (min-width: 320px) {
    .dropdown-menu-ss-start {
        --bs-position: start;
    }

    .dropdown-menu-ss-start[data-bs-popper] {
        right: auto;
        left: 0;
    }

    .dropdown-menu-ss-end {
        --bs-position: end;
    }

    .dropdown-menu-ss-end[data-bs-popper] {
        right: 0;
        left: auto;
    }
}

@media (min-width: 320px) {
    .navbar-expand-ss {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .navbar-expand-ss .navbar-nav {
        flex-direction: row;
    }

    .navbar-expand-ss .navbar-nav .dropdown-menu {
        position: absolute;
    }

    .navbar-expand-ss .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x);
    }

    .navbar-expand-ss .navbar-nav-scroll {
        overflow: visible;
    }

    .navbar-expand-ss .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-expand-ss .navbar-toggler {
        display: none;
    }

    .navbar-expand-ss .offcanvas {
        position: static;
        z-index: auto;
        flex-grow: 1;
        width: auto !important;
        height: auto !important;
        visibility: visible !important;
        background-color: transparent !important;
        border: 0 !important;
        transform: none !important;
        transition: none;
    }

    .navbar-expand-ss .offcanvas .offcanvas-header {
        display: none;
    }

    .navbar-expand-ss .offcanvas .offcanvas-body {
        display: flex;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
    }
}

@media (min-width: 320px) {
    .card-group {
        display: flex;
        flex-flow: row wrap;
    }

    .card-group > .card {
        flex: 1 0 0%;
        margin-bottom: 0;
    }

    .card-group > .card + .card {
        margin-left: 0;
        border-left: 0;
    }

    .card-group > .card:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .card-group > .card:not(:last-child) .card-header,
    .card-group > .card:not(:last-child) .card-img-top {
        border-top-right-radius: 0;
    }

    .card-group > .card:not(:last-child) .card-footer,
    .card-group > .card:not(:last-child) .card-img-bottom {
        border-bottom-right-radius: 0;
    }

    .card-group > .card:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .card-group > .card:not(:first-child) .card-header,
    .card-group > .card:not(:first-child) .card-img-top {
        border-top-left-radius: 0;
    }

    .card-group > .card:not(:first-child) .card-footer,
    .card-group > .card:not(:first-child) .card-img-bottom {
        border-bottom-left-radius: 0;
    }
}

@media (min-width: 320px) {
    .list-group-horizontal-ss {
        flex-direction: row;
    }

    .list-group-horizontal-ss > .list-group-item:first-child:not(:last-child) {
        border-bottom-left-radius: var(--bs-list-group-border-radius);
        border-top-right-radius: 0;
    }

    .list-group-horizontal-ss > .list-group-item:last-child:not(:first-child) {
        border-top-right-radius: var(--bs-list-group-border-radius);
        border-bottom-left-radius: 0;
    }

    .list-group-horizontal-ss > .list-group-item.active {
        margin-top: 0;
    }

    .list-group-horizontal-ss > .list-group-item + .list-group-item {
        border-top-width: var(--bs-list-group-border-width);
        border-left-width: 0;
    }

    .list-group-horizontal-ss > .list-group-item + .list-group-item.active {
        margin-left: calc(-1 * var(--bs-list-group-border-width));
        border-left-width: var(--bs-list-group-border-width);
    }
}

@media (min-width: 320px) {
    .modal {
        --bs-modal-margin: 1.75rem;
        --bs-modal-box-shadow: var(--bs-box-shadow);
    }

    .modal-dialog {
        max-width: var(--bs-modal-width);
        margin-right: auto;
        margin-left: auto;
    }

    .modal-ss {
        --bs-modal-width: 300px;
    }
}

@media (min-width: 320px) {
    .offcanvas-ss {
        --bs-offcanvas-height: auto;
        --bs-offcanvas-border-width: 0;
        background-color: transparent !important;
    }

    .offcanvas-ss .offcanvas-header {
        display: none;
    }

    .offcanvas-ss .offcanvas-body {
        display: flex;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
        background-color: transparent !important;
    }
}

@media (min-width: 320px) {
    .sticky-ss-top {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1020;
    }

    .sticky-ss-bottom {
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        z-index: 1020;
    }
}

@media (min-width: 320px) {
    .float-ss-start {
        float: left !important;
    }

    .float-ss-end {
        float: right !important;
    }

    .float-ss-none {
        float: none !important;
    }

    .object-fit-ss-contain {
        -o-object-fit: contain !important;
        object-fit: contain !important;
    }

    .object-fit-ss-cover {
        -o-object-fit: cover !important;
        object-fit: cover !important;
    }

    .object-fit-ss-fill {
        -o-object-fit: fill !important;
        object-fit: fill !important;
    }

    .object-fit-ss-scale {
        -o-object-fit: scale-down !important;
        object-fit: scale-down !important;
    }

    .object-fit-ss-none {
        -o-object-fit: none !important;
        object-fit: none !important;
    }

    .d-ss-inline {
        display: inline !important;
    }

    .d-ss-inline-block {
        display: inline-block !important;
    }

    .d-ss-block {
        display: block !important;
    }

    .d-ss-grid {
        display: grid !important;
    }

    .d-ss-inline-grid {
        display: inline-grid !important;
    }

    .d-ss-table {
        display: table !important;
    }

    .d-ss-table-row {
        display: table-row !important;
    }

    .d-ss-table-cell {
        display: table-cell !important;
    }

    .d-ss-flex {
        display: flex !important;
    }

    .d-ss-inline-flex {
        display: inline-flex !important;
    }

    .d-ss-none {
        display: none !important;
    }

    .d-ss-visible {
        display: inline !important;
    }

    .flex-ss-fill {
        flex: 1 1 auto !important;
    }

    .flex-ss-row {
        flex-direction: row !important;
    }

    .flex-ss-column {
        flex-direction: column !important;
    }

    .flex-ss-row-reverse {
        flex-direction: row-reverse !important;
    }

    .flex-ss-column-reverse {
        flex-direction: column-reverse !important;
    }

    .flex-ss-grow-0 {
        flex-grow: 0 !important;
    }

    .flex-ss-grow-1 {
        flex-grow: 1 !important;
    }

    .flex-ss-shrink-0 {
        flex-shrink: 0 !important;
    }

    .flex-ss-shrink-1 {
        flex-shrink: 1 !important;
    }

    .flex-ss-wrap {
        flex-wrap: wrap !important;
    }

    .flex-ss-nowrap {
        flex-wrap: nowrap !important;
    }

    .flex-ss-wrap-reverse {
        flex-wrap: wrap-reverse !important;
    }

    .justify-content-ss-start {
        justify-content: flex-start !important;
    }

    .justify-content-ss-end {
        justify-content: flex-end !important;
    }

    .justify-content-ss-center {
        justify-content: center !important;
    }

    .justify-content-ss-between {
        justify-content: space-between !important;
    }

    .justify-content-ss-around {
        justify-content: space-around !important;
    }

    .justify-content-ss-evenly {
        justify-content: space-evenly !important;
    }

    .align-items-ss-start {
        align-items: flex-start !important;
    }

    .align-items-ss-end {
        align-items: flex-end !important;
    }

    .align-items-ss-center {
        align-items: center !important;
    }

    .align-items-ss-baseline {
        align-items: baseline !important;
    }

    .align-items-ss-stretch {
        align-items: stretch !important;
    }

    .align-content-ss-start {
        align-content: flex-start !important;
    }

    .align-content-ss-end {
        align-content: flex-end !important;
    }

    .align-content-ss-center {
        align-content: center !important;
    }

    .align-content-ss-between {
        align-content: space-between !important;
    }

    .align-content-ss-around {
        align-content: space-around !important;
    }

    .align-content-ss-stretch {
        align-content: stretch !important;
    }

    .align-self-ss-auto {
        align-self: auto !important;
    }

    .align-self-ss-start {
        align-self: flex-start !important;
    }

    .align-self-ss-end {
        align-self: flex-end !important;
    }

    .align-self-ss-center {
        align-self: center !important;
    }

    .align-self-ss-baseline {
        align-self: baseline !important;
    }

    .align-self-ss-stretch {
        align-self: stretch !important;
    }

    .order-ss-first {
        order: -1 !important;
    }

    .order-ss-0 {
        order: 0 !important;
    }

    .order-ss-1 {
        order: 1 !important;
    }

    .order-ss-2 {
        order: 2 !important;
    }

    .order-ss-3 {
        order: 3 !important;
    }

    .order-ss-4 {
        order: 4 !important;
    }

    .order-ss-5 {
        order: 5 !important;
    }

    .order-ss-last {
        order: 6 !important;
    }

    .m-ss-0 {
        margin: 0 !important;
    }

    .m-ss-1 {
        margin: 0.25rem !important;
    }

    .m-ss-2 {
        margin: 0.5rem !important;
    }

    .m-ss-3 {
        margin: 1rem !important;
    }

    .m-ss-4 {
        margin: 1.5rem !important;
    }

    .m-ss-5 {
        margin: 3rem !important;
    }

    .m-ss-auto {
        margin: auto !important;
    }

    .mx-ss-0 {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .mx-ss-1 {
        margin-right: 0.25rem !important;
        margin-left: 0.25rem !important;
    }

    .mx-ss-2 {
        margin-right: 0.5rem !important;
        margin-left: 0.5rem !important;
    }

    .mx-ss-3 {
        margin-right: 1rem !important;
        margin-left: 1rem !important;
    }

    .mx-ss-4 {
        margin-right: 1.5rem !important;
        margin-left: 1.5rem !important;
    }

    .mx-ss-5 {
        margin-right: 3rem !important;
        margin-left: 3rem !important;
    }

    .mx-ss-auto {
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .my-ss-0 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .my-ss-1 {
        margin-top: 0.25rem !important;
        margin-bottom: 0.25rem !important;
    }

    .my-ss-2 {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }

    .my-ss-3 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }

    .my-ss-4 {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }

    .my-ss-5 {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }

    .my-ss-auto {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    .mt-ss-0 {
        margin-top: 0 !important;
    }

    .mt-ss-1 {
        margin-top: 0.25rem !important;
    }

    .mt-ss-2 {
        margin-top: 0.5rem !important;
    }

    .mt-ss-3 {
        margin-top: 1rem !important;
    }

    .mt-ss-4 {
        margin-top: 1.5rem !important;
    }

    .mt-ss-5 {
        margin-top: 3rem !important;
    }

    .mt-ss-auto {
        margin-top: auto !important;
    }

    .me-ss-0 {
        margin-right: 0 !important;
    }

    .me-ss-1 {
        margin-right: 0.25rem !important;
    }

    .me-ss-2 {
        margin-right: 0.5rem !important;
    }

    .me-ss-3 {
        margin-right: 1rem !important;
    }

    .me-ss-4 {
        margin-right: 1.5rem !important;
    }

    .me-ss-5 {
        margin-right: 3rem !important;
    }

    .me-ss-auto {
        margin-right: auto !important;
    }

    .mb-ss-0 {
        margin-bottom: 0 !important;
    }

    .mb-ss-1 {
        margin-bottom: 0.25rem !important;
    }

    .mb-ss-2 {
        margin-bottom: 0.5rem !important;
    }

    .mb-ss-3 {
        margin-bottom: 1rem !important;
    }

    .mb-ss-4 {
        margin-bottom: 1.5rem !important;
    }

    .mb-ss-5 {
        margin-bottom: 3rem !important;
    }

    .mb-ss-auto {
        margin-bottom: auto !important;
    }

    .ms-ss-0 {
        margin-left: 0 !important;
    }

    .ms-ss-1 {
        margin-left: 0.25rem !important;
    }

    .ms-ss-2 {
        margin-left: 0.5rem !important;
    }

    .ms-ss-3 {
        margin-left: 1rem !important;
    }

    .ms-ss-4 {
        margin-left: 1.5rem !important;
    }

    .ms-ss-5 {
        margin-left: 3rem !important;
    }

    .ms-ss-auto {
        margin-left: auto !important;
    }

    .p-ss-0 {
        padding: 0 !important;
    }

    .p-ss-1 {
        padding: 0.25rem !important;
    }

    .p-ss-2 {
        padding: 0.5rem !important;
    }

    .p-ss-3 {
        padding: 1rem !important;
    }

    .p-ss-4 {
        padding: 1.5rem !important;
    }

    .p-ss-5 {
        padding: 3rem !important;
    }

    .px-ss-0 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .px-ss-1 {
        padding-right: 0.25rem !important;
        padding-left: 0.25rem !important;
    }

    .px-ss-2 {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
    }

    .px-ss-3 {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }

    .px-ss-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    .px-ss-5 {
        padding-right: 3rem !important;
        padding-left: 3rem !important;
    }

    .py-ss-0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .py-ss-1 {
        padding-top: 0.25rem !important;
        padding-bottom: 0.25rem !important;
    }

    .py-ss-2 {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
    }

    .py-ss-3 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .py-ss-4 {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }

    .py-ss-5 {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }

    .pt-ss-0 {
        padding-top: 0 !important;
    }

    .pt-ss-1 {
        padding-top: 0.25rem !important;
    }

    .pt-ss-2 {
        padding-top: 0.5rem !important;
    }

    .pt-ss-3 {
        padding-top: 1rem !important;
    }

    .pt-ss-4 {
        padding-top: 1.5rem !important;
    }

    .pt-ss-5 {
        padding-top: 3rem !important;
    }

    .pe-ss-0 {
        padding-right: 0 !important;
    }

    .pe-ss-1 {
        padding-right: 0.25rem !important;
    }

    .pe-ss-2 {
        padding-right: 0.5rem !important;
    }

    .pe-ss-3 {
        padding-right: 1rem !important;
    }

    .pe-ss-4 {
        padding-right: 1.5rem !important;
    }

    .pe-ss-5 {
        padding-right: 3rem !important;
    }

    .pb-ss-0 {
        padding-bottom: 0 !important;
    }

    .pb-ss-1 {
        padding-bottom: 0.25rem !important;
    }

    .pb-ss-2 {
        padding-bottom: 0.5rem !important;
    }

    .pb-ss-3 {
        padding-bottom: 1rem !important;
    }

    .pb-ss-4 {
        padding-bottom: 1.5rem !important;
    }

    .pb-ss-5 {
        padding-bottom: 3rem !important;
    }

    .ps-ss-0 {
        padding-left: 0 !important;
    }

    .ps-ss-1 {
        padding-left: 0.25rem !important;
    }

    .ps-ss-2 {
        padding-left: 0.5rem !important;
    }

    .ps-ss-3 {
        padding-left: 1rem !important;
    }

    .ps-ss-4 {
        padding-left: 1.5rem !important;
    }

    .ps-ss-5 {
        padding-left: 3rem !important;
    }

    .gap-ss-0 {
        gap: 0 !important;
    }

    .gap-ss-1 {
        gap: 0.25rem !important;
    }

    .gap-ss-2 {
        gap: 0.5rem !important;
    }

    .gap-ss-3 {
        gap: 1rem !important;
    }

    .gap-ss-4 {
        gap: 1.5rem !important;
    }

    .gap-ss-5 {
        gap: 3rem !important;
    }

    .row-gap-ss-0 {
        row-gap: 0 !important;
    }

    .row-gap-ss-1 {
        row-gap: 0.25rem !important;
    }

    .row-gap-ss-2 {
        row-gap: 0.5rem !important;
    }

    .row-gap-ss-3 {
        row-gap: 1rem !important;
    }

    .row-gap-ss-4 {
        row-gap: 1.5rem !important;
    }

    .row-gap-ss-5 {
        row-gap: 3rem !important;
    }

    .column-gap-ss-0 {
        -moz-column-gap: 0 !important;
        column-gap: 0 !important;
    }

    .column-gap-ss-1 {
        -moz-column-gap: 0.25rem !important;
        column-gap: 0.25rem !important;
    }

    .column-gap-ss-2 {
        -moz-column-gap: 0.5rem !important;
        column-gap: 0.5rem !important;
    }

    .column-gap-ss-3 {
        -moz-column-gap: 1rem !important;
        column-gap: 1rem !important;
    }

    .column-gap-ss-4 {
        -moz-column-gap: 1.5rem !important;
        column-gap: 1.5rem !important;
    }

    .column-gap-ss-5 {
        -moz-column-gap: 3rem !important;
        column-gap: 3rem !important;
    }

    .text-ss-start {
        text-align: left !important;
    }

    .text-ss-end {
        text-align: right !important;
    }

    .text-ss-center {
        text-align: center !important;
    }
}